/* CarouselComponent.css */

.carousel-component {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.carousel-image {
  object-fit: cover;
  width: 100%;
  height: auto;
  max-height: 600px;
  transition: transform 1s ease, opacity 1s ease;
}

/* Animaciones para cuando una imagen entra y sale */
.carousel-item-next .carousel-image,
.carousel-item-prev .carousel-image,
.carousel-item-start .carousel-image,
.carousel-item-end .carousel-image {
  transform: scale(1.05); /* Ligeramente más grande para un efecto sutil */
  opacity: 0.7; /* Ligeramente transparente */
}

/* Animación cuando la imagen es la actualmente activa */
.carousel-item.active .carousel-image {
  transform: scale(1); /* Regresa al tamaño normal */
  opacity: 1; /* Totalmente visible */
}

/* Pausar animaciones cuando se pasa el cursor sobre el carrusel */
.carousel-component:hover .carousel-image {
  animation-play-state: paused;
  transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el cursor */
}

@media (max-width: 768px) {
  .carousel-image {
    max-height: 300px;
  }
}

/* Estilos para la caja de texto */
.carousel-text-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  padding: 20px;
  height: auto; /* Ajusta la altura automáticamente */
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
}

/* Estilos para adaptarse a pantallas pequeñas */
@media (max-width: 768px) {
  /* Coloca la caja de texto debajo del carrusel */
  .carousel-text-box {
    order: 1; /* Cambia el orden para que vaya después del carrusel */
    margin-top: 15px; /* Añade un margen superior para separar del carrusel */
  }

  /* Ajusta la presentación del carrusel para pantallas pequeñas */
  .carousel-component {
    order: 0; /* Asegura que el carrusel venga primero */
  }
}

/* Estilo que se aplicará cuando la caja de texto deba ir debajo del carrusel */
.stack-under-carousel .carousel-container,
.stack-under-carousel .text-container {
  width: 100%;
  order: 1; /* Esto asegura que el elemento se coloque debajo del otro */
}

/* Asegúrate de que la fila se convierta en una columna cuando se aplique la clase */
.stack-under-carousel {
  flex-direction: column;
}




