/* Languages.css */

.languages-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* creates two columns */
  grid-template-rows: repeat(2, 1fr); /* creates two rows */
  grid-gap: 10px; /* adjust the gap between flags as needed */
  justify-items: center; /* centers flags horizontally */
  align-items: center; /* centers flags vertically */
}


.languages-container button:nth-child(2n+1) {
  clear: left;
}
/* Estilo básico para los botones */
.btn-default {
    flex: 0 1 auto;
    margin: 5px;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  /* Estilo al pasar el cursor por encima */
  .btn-default:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño */
    box-shadow: 0 2px 5px rgba(247, 1, 1, 0.5); /* Sombra para resaltar */
  }
  
  /* Estilo para el botón pulsado */
  .btn-pressed {
    background-color: #0aa016; /* Cambia el color de fondo */
    color: white; /* Cambia el color del texto, si es necesario */
  }

  