/* Body.css */

/* Estilos generales para la página */
.body-container {
  background-color: #121212; /* Un fondo más oscuro para toda la sección, cerca del negro */
  padding: 20px;
}

/* Estilo para el título de todas las tarjetas */
.card-header {
  background-color: #0d6efd; /* Un tono de azul fuerte que encaje con los tonos del fondo tecnológico */
  color: white;
  padding: 10px 0;
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center; /* Asegura que el título esté centrado */
}

/* Estilos para el título */
.card-header-title, .card-title {
  font-size: 1.75rem; /* Un tamaño de fuente más grande para los títulos */
  font-weight: bold; /* Hacer el texto más grueso */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra de texto para resaltar */
  margin-bottom: 0; /* Remueve el margen inferior por defecto si es necesario */
}

/* Estilo para el cuerpo de todas las tarjetas */
.card-body {
  background-color: #242424; /* Un gris oscuro para el contenido que encaje con el fondo */
  color: #d7d7d7; /* Color de texto en tono gris claro para mejor lectura */
  padding: 20px;
}

/* Estilos para las tarjetas individuales */
.card {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada para dar profundidad en fondo oscuro */
  margin-bottom: 20px; /* Espacio entre tarjetas */
  border: 1px solid #343a40; /* Borde en un tono gris oscuro para definir las tarjetas en el fondo oscuro */
  border-radius: 0.25rem; /* Esquinas redondeadas */
}

/* ... otros estilos ... */

/* Ajustes para los contenedores de tarjetas para hacerlos más atractivos */
.mb-4, .g-4 {
  background-color: #1c1c1e; /* Un color de fondo oscuro para los contenedores de tarjetas que encaje con el fondo */
  padding: 10px; /* Espaciado interno */
  border-radius: 8px; /* Esquinas redondeadas */
  border: 1px solid #2a2a2e; /* Borde sutil para el contenedor de tarjetas */
}

/* Media queries para ajustes responsivos */
@media (max-width: 768px) {
  .card-header-title, .card-title {
    font-size: 1.5rem; /* Tamaño de fuente más pequeño para dispositivos móviles */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Sombra de texto más sutil para dispositivos móviles */
  }
  /* ... otros ajustes responsivos ... */
}



  
  