/* Curriculum.css */

/* Contenedor general para los botones */
.curriculum-button-container {
    margin-bottom: 20px; /* Espaciado entre botones */
    padding: 10px; /* Espaciado interno */
    background-color: #4a4a4a; /* Un color de fondo más oscuro para los botones */
    border-radius: 10px; /* Esquinas redondeadas para los contenedores de botones */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Sombra para dar profundidad */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave para efectos */
  }
  
  /* Estilo para los botones que contienen las imágenes */
  .btn-outline-dark {
    border: 1px solid #ddd; /* Un borde sutil para definir los botones */
    background-color: #565656; /* Un color de fondo intermedio para los botones */
    color: #fff; /* Texto en color blanco para contraste */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
  }
  
  /* Imágenes dentro de los botones */
  .curriculum-button-container img {
    width: 100px; /* Tamaño fijo para las imágenes */
    height: auto; /* Altura automática para mantener la proporción */
    border-radius: 50%; /* Hace las imágenes circulares */
  }
  
  /* Efecto al pasar el cursor por encima de los botones */
  .curriculum-button-container:hover {
    transform: translateY(-5px); /* Mueve el botón hacia arriba */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada */
  }
  
  .btn-outline-dark:hover {
    background-color: #6c757d; /* Color de fondo al pasar el cursor */
  }
  
  /* Media queries para ajustar el diseño en diferentes tamaños de pantalla */
  @media (max-width: 768px) {
    .curriculum-button-container {
      margin-bottom: 15px;
    }
  }
  
  