/* Estilos para el formulario */
  .contact-form {
    width: 100%; /* O un ancho específico si prefieres */
    max-width: 400px; /* Ajusta este valor según tus necesidades */
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: white;
  }
  
  /* Estilos para los grupos de formulario */
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
  }
  
  .form-group label {
    align-self: flex-start; /* Alinea las etiquetas a la izquierda */
    margin-bottom: 5px;
  }
  
  /* Asegúrate de que los input y textarea ocupen el espacio restante y estén centrados */
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Estilos para el botón de envío */
  .contact-form button {
    width: 100%; /* Ajusta el ancho del botón */
    padding: 10px;
    margin-top: 10px; /* Añade un margen en la parte superior */
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #0056b3;
  }

  .center-button {
    text-align: center;
  }
/* Estilos para el botón de envío */
.contact-form-button {
  width: auto; /* Ancho automático para que el botón sea del tamaño del contenido */
  padding: 8px 20px; /* Ajusta el padding para hacer el botón más pequeño */
  margin: 20px auto; /* Centra el botón horizontalmente */
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-weight: bold; /* Hacer el texto en negrita */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact-form-button:hover {
  background-color: #0056b3; /* Cambiar el color de fondo al pasar el mouse */
  transform: scale(1.05); /* Escalar ligeramente el botón al pasar el mouse */
}

.contact-form-button:focus {
  outline: none; /* Eliminar el contorno al hacer clic */
}

  