/* AboutMe.css */

.about-me-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

.about-me-container h2 {
  color: #0a0a0a;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.75rem; /* Tamaño de fuente ajustado para el título */
}

.about-me-container p {
  color: #333;
  line-height: 1.6;
  margin-bottom: 15px;
  text-align: justify;
  font-size: 0.9rem; /* Tamaño de fuente más pequeño para el párrafo */
}

@media (max-width: 768px) {
  .about-me-container {
    padding: 15px;
  }

  .about-me-container h2 {
    font-size: 1.5rem; /* Tamaño de fuente ajustado para pantallas pequeñas */
  }

  .about-me-container p {
    font-size: 0.85rem; /* Tamaño de fuente aún más pequeño para pantallas pequeñas */
  }
}

  